<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Not Found !</title>
</head>
<body style="display: flex;justify-content:center;align-items:center;height: 100%; padding: 0; margin: 0;">
    <h1 style="font-family:sans-serif;font-size: 24px;">404 Not Found !</h1>
</body>
</html>