<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./forgetpassword.css">
    <title>Forget Password</title>
</head>
<body>
    

    
    <form method="post">
        <div class="form-d">
            <div class="shape">
                <img src="./info.ico" class="info">
                <h1 class="title">Forget Password</h1>
                <h6 class="subtitle">Enter your email and we'll send you the code to rest the password</h6>
                <div class="cont"><input type="email" name="email" class="email" placeholder="Enter Your Email "><input type="submit" value="Send Code" class="send"></div>
                <a href="./login" class="back">Back To Login </a>
            
            </div>
        </div>
    
    </form>


</body>
</html>