<!DOCTYPE html>
<html lang="en">
<!-- There Is No Logic Arrange Here SO DIVIE YOURSELF !! MADE BY LOAI  -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Of Loai Store Portfolio</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery library -->
</head>

<body>
    <p id="secret" style="display:none"><%= typeof secretit !=='undefined' && secretit ? secretit : '' %></p>
    <p id="secretemail" style="display:none;"><%= typeof emails !== 'undefined' && emails ? emails : '' %></p>
    <div class="fixedbar">
        <div class="menu">
            <h1>Store</h1>
            <span class="middlebar">

                <a href="/about" class="links">About</a>

                <img src="./cart.ico" class="cart" id="cart">
                <div class="fixedmenu" id="fixedmenu">
                    <p style="color: black; font-size:12px;font-weight: 100; text-align: center;" id="ps">No Thing Have
                        Been
                        Added</p>
                </div>
                <p class="usernamee" id="usernamee"><%= typeof usr !=='undefined' && usr ? usr : 'usr' %></p>
            </span>
        </div>
    </div>

    <div class="home" id="home">
        <h3 style="margin-bottom: 29em;
        position: relative;
        top: 70px;" id="sub">Technology</h3>
        <div class="products">
            <div class="product" data-info="Laptop Dell SW1330 4GB RAM Intel I5">
                <img src="/products/laptop.avif" alt="Laptop 4GB RAM Intel i5" style="width: 120px;">
                <h3>Dell SW1330 4GB RAM Intel I5</h3>
                <p class="description">High-performance laptop with 4GB RAM and Intel i5 processor, ideal for everyday use and multitasking.</p>
                <button class="submit">Add To Cart</button>
            </div>
            <div class="product" data-info="Samsung Galaxy A 71">
                <img src="/products/phone.jpg" alt="Smartphone 64GB">
                <h3>Samsung Galaxy A 71</h3>
                <p class="description">Sleek smartphone with 64GB storage and a high-resolution camera for capturing all your moments.</p>
                <button class="submit">Add To Cart</button>
            </div>
            <div class="product" data-info="IPhone 15 Pro">
                <img src="/products/iphone.jpg" alt="IPhone 15 Pro">
                <h3>IPhone 15 Pro</h3>
                <p class="description">iPhone 15 Pro with A17 Bionic chip, titanium frame, advanced camera, and enhanced battery life for a seamless user experience.</p>
                <button class="submit">Add To Cart</button>
            </div>
        </div>
        <h3 id="sub2">Accessories</h3>
        <div class="products2">
            
            <div  id="product2" class="product" data-info="Keyboard Gaming Low Delay">
                <img src="/products/keyboard.webp" alt="Keyboard Gaming Low Delay" style="width: 120px;">
                <h3>Keyboard Gaming Low Delay</h3>
                <p class="description">A good keyboard is durable, responsive, and comfortable to type on. It features tactile keys, customizable backlighting, and ergonomic design. Ideal for typing, gaming, and programming, it enhances efficiency and reduces strain, providing a satisfying and productive typing experience.</p>
                <button class="submit">Add To Cart</button>
            </div>
            <div id="product2"class="product" data-info="Mouse Gaming High Quality">
                <img src="/products/mouse.webp" alt="Mouse Gaming High Quality">
                <h3>Mouse Gaming High Quality</h3>
                <p class="description">A good mouse is ergonomic, responsive, and precise. It enhances productivity and gaming with smooth tracking, customizable buttons, and adjustable sensitivity. Comfortable to use for extended periods, it ensures accuracy and speed, making it an essential tool for work and play.</p>
                <button class="submit">Add To Cart</button>
            </div>
            <div id="product2" class="product" data-info="Headphones High Quality">
                <img src="/products/headphones.webp" alt="Headphones High Quality">
                <h3>Headphones High Quality</h3>
                <p class="description">Good headphones offer excellent sound quality, comfortable fit, and noise cancellation. They enhance the listening experience with clear highs, deep bass, and balanced mids. Ideal for music, gaming, and calls, they provide immersive audio and long-lasting comfort for extended use.</p>
                <button class="submit">Add To Cart</button>
            </div>
        </div>
        
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var div = document.getElementById('fixedmenu');
            var cart = document.getElementById('cart');

            cart.addEventListener('click', function () {
                div.classList.add('visible');
                div.focus();
            });

            document.addEventListener('click', function (event) {
                if (!div.contains(event.target) && event.target !== cart) {
                    div.classList.remove('visible');
                }
            });
        });

        $(document).ready(function () {
            var secret = document.getElementById('secret').textContent.split(",");
            console.log(secret)
            if (secret[0] !== '') {
                for (i in secret) {
                    var orcart = document.createElement('img');
                    orcart.id = 'orcart';
                    orcart.src = './orangecart.png';

                    var div = document.getElementById('fixedmenu');
                    var pfirst = document.createElement('p');
                    pfirst.id = 'pfirst';
                    pfirst.appendChild(orcart);
                    orcart.classList.add('visible');

                    var res = document.createTextNode(secret[i]);
                    pfirst.appendChild(res);
                    pfirst.classList.add('arrange');
                    pfirst.focus();
                    div.append(pfirst);

                    var anp = document.getElementById('ps');
                    anp.classList.add('disvis');
                    anp.style.justifyContent = "flex-start";
                    div.classList.add('edit');
                }
            }
            $('.submit').click(function (event) {
                event.preventDefault();

                var orcart = document.createElement('img');
                orcart.id = 'orcart';
                orcart.src = './orangecart.png';
                
                var info =  $(this).closest('.product').data('info') ;
                var infoemail = document.getElementById('secretemail').textContent
                infos = infoemail +","+ info

                var div = document.getElementById('fixedmenu');

                var p = document.createElement('p');
                var text = document.createTextNode(info);
                p.appendChild(orcart);
                p.appendChild(text);
                p.classList.add('arrange');

                var anp = document.getElementById('ps');
                anp.classList.add('disvis');
                orcart.classList.add('visible');
                anp.style.justifyContent = "flex-start";
                div.classList.add('edit');
                div.appendChild(p);
                $.ajax({
                    url: "/", // Ensure this URL matches your server's endpoint
                    method: "POST",
                    contentType: "text/plain",
                    data: infos,
                    success: function (response) {
                        
                    },
                    error: function (xhr, status, error) {
                        
                    }
                });
            });
        });
    </script>
</body>

</html>
