<!DOCTYPE html>
<html lang="en">
<!-- There Is No Logic Arrange Here SO DIVIE YOURSELF !! MADE BY LOAI  -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Of Loai Store Portfolio</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery library -->
</head>

<body>
    <p id='secretadd' style="display: none;"><%=pindex%></p>
    <p id="secret" style="display:none"><%= sold %></p>
    <p id="secretemail" style="display:none;"><%= email && typeof email !=='undefined' ? email : '' %></p>
    <div class="fixedbar">
        <div class="menu">
            <h1>Store</h1>
            <span class="middlebar">

                <a href="/about" class="links">About</a>

                <img src="./cart.ico" class="cart" id="cart">
                <p class="fixednum" id='fixednum'>1</p>
                <div class="fixedmenu" id="fixedmenu"><p style="color: black; font-size:12px;font-weight: 100; text-align: center;" id="ps">No Thing Have Been Added</p></div>
                <p class="usernamee" id="usernamee"><%= typeof usr !=='undefined' && usr ? usr : 'usr' %></p>
            </span>
        </div>
    </div>

    <div class="home" id="home">
        <h3 style="margin-bottom: 29em;
        position: relative;
        top: 70px;" id="sub">Technology</h3>
        <div class="products">
            <div class="product" data-info="Laptop Dell SW1330 4GB RAM Intel I5" data-pindex="1">
                <img src="/products/laptop.png" alt="Laptop 4GB RAM Intel i5" style="width: 120px;">
                <h3>Dell SW1330 4GB RAM Intel I5</h3>
                <p class="description">High-performance laptop with 4GB RAM and Intel i5 processor, ideal for everyday
                    use and multitasking.</p>
                <p class="price" style="position: relative; top:10px;font-size:30px;letter-spacing:5px;">200$</p>
                <button class="submit">Add To Cart</button>
            </div>
            <div class="product" data-info="Samsung Galaxy A 71" data-pindex="2">
                <img src="/products/phone.jpg" alt="Smartphone 64GB">
                <h3>Samsung Galaxy A 71</h3>
                <p class="description">Sleek smartphone with 64GB storage and a high-resolution camera for capturing all
                    your moments.</p>
                <p class="price" style="position: relative; top:10px;font-size:30px;letter-spacing:5px;">200$</p>
                <button class="submit">Add To Cart</button>
            </div>
            <div class="product" data-info="IPhone 15 Pro" data-pindex="3">
                <img src="/products/iphone.jpg" alt="IPhone 15 Pro">
                <h3>IPhone 15 Pro</h3>
                <p class="description">iPhone 15 Pro with A17 Bionic chip, titanium frame, advanced camera, and enhanced
                    battery life for a seamless user experience.</p>
                <p class="price" style="position: relative; top:10px;font-size:30px;letter-spacing:5px;">200$</p>
                <button class="submit">Add To Cart</button>
            </div>
        </div>
        <h3 id="sub2">Accessories</h3>
        <div class="products2">

            <div id="product2" class="product" data-info="Keyboard Gaming" data-pindex="4">
                <img src="/products/keyboard.webp" alt="Keyboard Gaming Low Delay" style="width: 120px;">
                <h3>Keyboard Gaming Low Delay</h3>
                <p class="description">A good keyboard is durable, responsive, and comfortable to type on. It features
                    tactile keys, customizable backlighting, and ergonomic design. Ideal for typing, gaming, and
                    programming, it enhances efficiency and reduces strain, providing a satisfying and productive typing
                    experience.</p>
                <p class="price" style="position: relative; top:10px;font-size:30px;letter-spacing:5px;">200$</p>
                <button class="submit">Add To Cart</button>
            </div>
            <div id="product2" class="product" data-info="Mouse Gaming" data-pindex="5">
                <img src="/products/mouse.webp" alt="Mouse Gaming High Quality">
                <h3>Mouse Gaming High Quality</h3>
                <p class="description">A good mouse is ergonomic, responsive, and precise. It enhances productivity and
                    gaming with smooth tracking, customizable buttons, and adjustable sensitivity. Comfortable to use
                    for extended periods, it ensures accuracy and speed, making it an essential tool for work and play.
                </p>
                <p class="price" style="position: relative; top:10px;font-size:30px;letter-spacing:5px;">200$</p>
                <button class="submit">Add To Cart</button>
            </div>
            <div id="product2" class="product" data-info="Headphones Gaming" data-pindex="6">
                <img src="/products/headphones.webp" alt="Headphones High Quality">
                <h3>Headphones High Quality</h3>
                <p class="description">Good headphones offer excellent sound quality, comfortable fit, and noise
                    cancellation. They enhance the listening experience with clear highs, deep bass, and balanced mids.
                    Ideal for music, gaming, and calls, they provide immersive audio and long-lasting comfort for
                    extended use.</p>
                <p class="price" style="position: relative; top:10px;font-size:30px;letter-spacing:5px;">200$</p>
                <button class="submit">Add To Cart</button>
            </div>
            <!-- Api for making new product shown -->
            <!-- <div id="product2" class="product" data-info="name shown in the fixedmenu" data-pindex="count">
                <img src="/products/photo of the product" alt="name of the thing">
                <h3>Name of the thing</h3>
                <p class="description">Describe Your Product !</p>
                <p class="price" style="position: relative; top:10px;font-size:30px;letter-spacing:5px;">Enter Your Price</p>
                <button class="submit">Add To Cart</button>
            </div> -->
            <!-- Made BY Loai -->
        </div>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var div = document.getElementById('fixedmenu');
            var cart = document.getElementById('cart');

            cart.addEventListener('click', function () {
                div.classList.add('visible');
                div.focus();
            });

            document.addEventListener('click', function (event) {
                if (!div.contains(event.target) && event.target !== cart) {
                    div.classList.remove('visible');

                }
            });
        });
        $(document).ready(function () {
            var index = 0
            // update the red element when refreshing the page

            //server part for removing the plus

            // make the client get to the server and get the pindex from it and do an action to show the plus in the screen of the product div
            var pindex = $('#secretadd').text().split(',');

            $('.product').each(function () {

                if (pindex.indexOf($(this).data('pindex').toString()) >= 0) {
                    $(this).children('.submit').text("Add Another One +");
                }
            });
            // `client-only` check if the index info still exist in the fixedmenu if  : will done not : del the not exists 

            // get the update from the server 
            var dataInfoS = $('#secret').text().split(',')
            console.log(dataInfoS)
            // loop on each item in the list of dateinfos
            if (dataInfoS[0] !== '') {
                for (i in dataInfoS) {
                    // create the PElement
                    var pElement = document.createElement('p');
                    // create the cancel button
                    var cancelBtn = document.createElement('button')
                    cancelBtn.id = 'cancelbtn'
                    cancelBtn.innerText = 'Delete'

                    var fixedmenu = document.getElementById('fixedmenu')
                    pElement.classList.add('arrange')
                    fixedmenu.classList.add('edit')

                    pElement.id = 'pElement'
                    //make the date-index info 
                    pElement.setAttribute('data-index', index)

                    index += 1

                    var text = document.createTextNode(dataInfoS[i])
                    pElement.appendChild(text)
                    fixedmenu.appendChild(pElement)
                    pElement.appendChild(cancelBtn)
                    var tempP = $('#ps').addClass('disvis')

                }
            }

            var jfixedmenu = $('#fixedmenu')
            var redEle = $('#fixednum')
            
            if(jfixedmenu.children().length>1){
                redEle.addClass('visible')
                redEle.text((jfixedmenu.children().length)-1)
            }

            var localclient = []
            $('.submit').click(function (event) {
                event.preventDefault(); // to make the webpage not refreshing when posting
                
                var collect = $('#secretadd')
            
            

                //make the button be plus only when get clicked : 
                $(this).text('Add Another One +')
                var pindex = $(this).parent().data('pindex')
                console.log(collect.text().split(','))
                var text= collect.text()
                if(text === ''){
                    collect.text(pindex)
                }else if(!text.split(',').includes(pindex.toString())){
                    // alert('oh yah')
                    var sum = collect.text()+','
                    collect.text((sum+pindex))
                }
                // save in the client random access mem 
                var dataInfo = $(this).closest('.product').data('info')

                var pElement = document.createElement('p');
                pElement.id = 'pElement';

                //make the date-index info 
                pElement.setAttribute('data-index', index)

                index += 1


                pElement.classList.add('arrange');
                var text = document.createTextNode(dataInfo);
                pElement.appendChild(text);
                // to make the cancel button
                var cancelBtn = document.createElement('button');
                cancelBtn.id = 'cancelbtn'
                cancelBtn.innerText = 'Delete'
                // to assign the <p> to its div `fixedmenu`


                var fixedmenu = document.getElementById('fixedmenu');
                fixedmenu.classList.add('edit')
                fixedmenu.appendChild(pElement);
                // to assign the button to the <p>
                pElement.appendChild(cancelBtn);
                // delete the text node of the none
                var tempP = $('#ps').addClass('disvis')
                var jfixedmenu = $('#fixedmenu')
                var redEle = $('#fixednum')
                if(jfixedmenu.children().length>1){
                    redEle.addClass('visible')
                    redEle.text((jfixedmenu.children().length)-1)
                }

                // send to server to save it with email sentor!
                var email = document.getElementById('secretemail').innerText
                var dataWithEmail = "append" + "," + email + "," + pindex + "," + dataInfo
                
                
                localclient.indexOf(pindex)<0 ? localclient.push(pindex) :console.log('') 
                console.log(localclient)
                // alert(dataInfo)
                // alert(dataWithEmail) new


                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: email, text: 'append', pindex: pindex, dataInfo: dataInfo })  // Ensure data format matches server expectations
                })

                    .then(data => {
                        console.log('Operation successful:', data);
                        // Optionally update UI based on server response
                    })
                    .catch((error) => {
                        console.error('Failed operation:', error);
                        // Handle error and show user appropriate message
                    });

            });

            
            $('#fixedmenu').on('click', '#cancelbtn', function (event) {
                event.stopPropagation();
                // to get the clicked remove button text name !
                var jfixedmenu = $('#fixedmenu')
                var redEle = $('#fixednum')
                
                // we make it two because the latency 
                if(jfixedmenu.children().length === 2){
                    redEle.removeClass('visible')
                }else{
                    redEle.text((jfixedmenu.children().length)-2)
                }
                var clickone = $(this).parent().text().replace('Delete',1)

                // the rest of the removing elements 
                var pElement = $(this).parent();
                var dataIndex = pElement.attr('data-index');
                var email = $('#secretemail').text();
                var datainfoindex = $(this).closest('#pElement').data('index')
                 
                // the fixed menu data index of the clicked button cancel
                $('#fixedmenu').children('[data-index]').each(function () {
                    console.log('hello')
                    var getindex = parseInt($(this).attr('data-index'), 10) //parse the int of every fixed menu data index
                    console.log(getindex)
                    if ($(this).data('index') > datainfoindex) {
                        console.log($(this).data('index'), datainfoindex)
                        $(this).attr('data-index', getindex - 1)
                        console.log(getindex)
                        console.log(typeof $(this).data('index'), typeof datainfoindex, typeof getindex)
                        if ($(this).attr('data-index').indexOf('-') >= 0) {
                            $(this).remove()
                        }

                    }
                    index = getindex


                });
                        pElement.remove();
                        console.log('Removed item successfully');
                        if ($('#fixedmenu').children().length === 1) {
                            $('#ps').removeClass('disvis');
                            $('#fixedmenu').removeClass('edit');
                        }
                        var allpindexsaved = $('#secretadd').text().split(',')
                        var getAlltext= $('#fixedmenu').text().replace('No Thing Have Been Added','')
                        var filterthebefore = getAlltext.split('Delete')
                        
                        console.log(filterthebefore)
                        
                        var shouldRemoved = []
                       
                        $.each(allpindexsaved , function(index,value){
                            
                        // to get every text of every saved pindex in the server and sent to the client
                            var pindextopinfo=$('[data-pindex='+value+']').data('info')
                            console.log(pindextopinfo,filterthebefore)
                           

                            if(filterthebefore.indexOf(pindextopinfo)<0){
                                
                                var secretadd = $('#secretadd')
                                var splitsec = secretadd.text().split(',')
                                console.log(splitsec)
                                var  intdata = parseInt(value,10)
                                console.log('intdata',intdata)
                                console.log(splitsec.indexOf(intdata) ,intdata , splitsec)
                                if(splitsec.indexOf(intdata.toString())>=0){
                                    
                                    splitsec.splice(splitsec.indexOf(intdata.toString()),1)
                                    splitsec.join()
                                    // alert(value)
                                    secretadd.text(splitsec)
                                    shouldRemoved.push(parseInt(value,10))
                                    var pindex = $('#secretadd').text().split(',');
                                    $('.product').each(function () {

                                        if (pindex.indexOf($(this).data('pindex').toString())< 0) {
                                            $(this).children('.submit').text("Add To Cart");
                                        }
                                    });
                                }
                                

                            }
                       console.log(shouldRemoved)    
                        });

                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: email, dataIndex: dataIndex, text: null ,shouldRemoved:shouldRemoved})
                })


                    
                    
            });

                    // to removing the plus when remove all it contains in the removeing up menu !!


            $(document).click(function (event) {

                if (!$(event.target).closest('#fixedmenu').length && !$(event.target).is('#cart')) {
                    $('#fixedmenu').removeClass('visible');
                }
            });
        });
    </script>

</body>

</html>
